In [20]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

ModuleNotFoundError: No module named 'pygal'

In [19]:
df=pd.read_csv('youtubeData/USvideos.csv')

In [10]:
df.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."

In [11]:
df.describe()

        category_id         views         likes      dislikes  comment_count
count  14400.000000  1.440000e+04  1.440000e+04  1.440000e+04   1.440000e+04
mean      20.013333  1.224748e+06  4.559116e+04  3.279715e+03   5.985172e+03
std        7.599421  4.567134e+06  1.577944e+05  4.395533e+04   3.696786e+04
min        1.000000  5.490000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       17.000000  9.235175e+04  1.988000e+03  8.700000e+01   2.850000e+02
50%       24.000000  3.151860e+05  9.017500e+03  3.270000e+02   1.028000e+03
75%       25.000000  9.966675e+05  2.962150e+04  1.128000e+03   3.418250e+03
max       43.000000  1.493761e+08  3.093544e+06  1.674420e+06   1.361580e+06

In [12]:
df.describe().count

<bound method DataFrame.count of         category_id         views         likes      dislikes  comment_count
count  14400.000000  1.440000e+04  1.440000e+04  1.440000e+04   1.440000e+04
mean      20.013333  1.224748e+06  4.559116e+04  3.279715e+03   5.985172e+03
std        7.599421  4.567134e+06  1.577944e+05  4.395533e+04   3.696786e+04
min        1.000000  5.490000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       17.000000  9.235175e+04  1.988000e+03  8.700000e+01   2.850000e+02
50%       24.000000  3.151860e+05  9.017500e+03  3.270000e+02   1.028000e+03
75%       25.000000  9.966675e+05  2.962150e+04  1.128000e+03   3.418250e+03
max       43.000000  1.493761e+08  3.093544e+06  1.674420e+06   1.361580e+06>

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14400 entries, 0 to 14399
Data columns (total 16 columns):
video_id                  14400 non-null object
trending_date             14400 non-null object
title                     14400 non-null object
channel_title             14400 non-null object
category_id               14400 non-null int64
publish_time              14400 non-null object
tags                      14400 non-null object
views                     14400 non-null int64
likes                     14400 non-null int64
dislikes                  14400 non-null int64
comment_count             14400 non-null int64
thumbnail_link            14400 non-null object
comments_disabled         14400 non-null bool
ratings_disabled          14400 non-null bool
video_error_or_removed    14400 non-null bool
description               14139 non-null object
dtypes: bool(3), int64(5), object(8)
memory usage: 1.5+ MB

# Capstone project : 
#### Data Source: https://www.kaggle.com/datasnaek/youtube-new/data
### Questions trending in people, category and channel:
#### likes, dislikes, views, comments, tags & NLP titles of videos, common trends, keywords

In [14]:
df.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."

NameError: name 'py' is not defined